:root {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #1f2937;
  background-color: #fdf2f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fdf2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-primary,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: #c5050c;
  border-color: #c5050c;
}

.btn-outline-primary {
  color: #c5050c;
  border-color: #c5050c;
}

.btn-outline-primary:hover {
  background-color: #c5050c;
  color: #fff;
}
